{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
    <body>

        {% for x in fruits %}
            <h1>{{ x }}</h1>
        {% endfor %}

    </body>
</html>
 



























{% comment %} <html>
<body>


<table border='1'>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in mymembers %}
        <tr>
            <td>{{ x.id }}</td>
             <td>{{ x.firstname }}</td>
            <td>{{ x.lastname }}</td>
        </tr>
    {% endfor %}
</table>

<p>In views.py you can see how to import and fetch members from the database.</p>

 
</body>
</html> {% endcomment %}
